body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #121212; /* Dark background */
    color: #fff; /* Light text color */
}

header {
    background: #05cafc;
    color: white;
    text-align: center;
    padding: 20px 10px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0 0;
    font-size: 18px;
}

nav {
    text-align: center;
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
}

.content-section {
    display: none;
}

.active {
    display: block;
}

.profile-container {
    background-color: #222; /* Dark background */
    padding: 10px;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid #05bfeef3;
}

.section-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0be0f0;
}

footer {
    background: #05bfeef3;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-item {
    width: 30%;
    min-width: 250px;
    background: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-item:hover {
    transform: scale(1.05);
}
nav ul li a:hover {
    background-color: #05bfeef3;
    color: #333;
    border-radius: 5px;
    transform: scale(1.1);
}

